body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  span {
   display: block;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    font-family: monospace;
    margin-left: 2rem;
    color: white;
  }

  #genNew{
    font-size: 1rem;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
  }

  button:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: .7;
    
  }